* {
    margin: 0px;
    padding: 0px;
  }
  
  p {
    font-size: 20px;
  }
  
  li {
      font-size: 20px;
    }
    
  a {
      text-decoration: none;
  }
  header a { 
      display: flex;
      flex-direction: row;
      justify-content:center;
      font-size: 30px;
      font-weight: bolder;
      color: #750000;
  }
  header a:hover {
    color: #f3bb54;
  }
  
  h1 {
    margin-left: 10px;
    margin-top: 0px;
  }
  
  h2 {
    margin: 10px;
  }
  
  #imagens-container {
    display: flex;
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 220px;
    justify-content: space-between;
    gap: 5px;
  
  }


  .imagem1:hover {
    height: 700px;
    width: 700px;
  }
  .imagem2:hover {
    height: 700px;
    width: 700px;
  }
  .imagem3:hover {
    height: 700px;
    width: 700px;
  }
  .imagem4:hover {
    height: 700px;
    width: 700px;
  }
  .imagem5:hover {
    height: 700px;
    width: 700px;
  }
  .imagem6:hover {
    height: 700px;
    width: 800px;
  }
  .imagem7:hover {
    height: 700px;
    width: 700;
  }
  .imagem8:hover {
    height: 700px;
    width: 700px;
  }
  .imagem9:hover {
    height: 700px;
    width: 700px;
  }
  .imagem10:hover {
    height: 700px;
    width: 700px;
  }
  .imagem11:hover {
    height: 700px;
    width: 700px;
  }
  .imagem12:hover {
    height: 700px;
    width: 700px;
  }

  .footer {
    display: flex;
    flex-direction:row;
    background-color: white;
    color: black;
    font-size: 15px;
    width: 100%;
    height: 5%;
    justify-content: center;
    z-index: 1;
  }

  footer li {
    font-size: 18px;
    list-style: none;
    display: inline-flex;
  }
  
  footer img {
    width: 30px;
    height: auto;
  }
  
  footer a {
    color: #750000;
  }