* {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

a {
  text-decoration: none;
}
header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: #750000;
}
header a:hover {
  color: #f3bb54;
}

h1 {
  margin-left: 10px;
  margin-top: 0px;
}

h2 {
  margin: 10px;
}
body {
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
  justify-content: center;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 220px;
  animation-duration: 2s;
  /* justify-content: space-between; */
  /* touch-action: pan-x; */
  gap: 5px;
}

/* .imagem1:hover {
  height: 700px;
  width: 700px;
}
.imagem2:hover {
  height: 700px;
  width: 700px;
}
.imagem3:hover {
  height: 700px;
  width: 700px;
}
.imagem4:hover {
  height: 700px;
  width: 700px;
}
.imagem5:hover {
  height: 700px;
  width: 700px;
}
.imagem6:hover {
  height: 700px;
  width: 800px;
}
.imagem7:hover {
  height: 700px;
  width: 700;
}
.imagem8:hover {
  height: 700px;
  width: 700px;
}
.imagem9:hover {
  height: 700px;
  width: 700px;
}
.imagem10:hover {
  height: 700px;
  width: 700px;
}
.imagem11:hover {
  height: 700px;
  width: 700px;
}
.imagem12:hover {
  height: 700px;
  width: 700px;
} */

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  font-size: 15px;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

footer li {
  font-size: 18px;
  list-style: none;
  display: inline-flex;
}

footer img {
  width: 30px;
  height: auto;
}

footer a {
  color: #750000;
}

@media only screen and (max-width: 768px) {
  body {
    height: 100vh;
  }
  h2 {
    justify-content: center;
  }

  #container {
    display: flex;
    padding: 20px;
    height: 100%;
    justify-content:center;
    margin-left:2%;
    position: relative;
    touch-action: pan-y;

  }

  /* .imagem1 {
    height: 200px;
    width: 200px;
  }
  .imagem2 {
    height: 200px;
    width: 200px;
  }
  .imagem3 {
    height: 200px;
    width: 200px;
  }
  .imagem4 {
    height: 200px;
    width: 200px;
  }
  .imagem5 {
    height: 200px;
    width: 200px;
  }
  .imagem6 {
    height: 200px;
    width: 200px;
  }
  .imagem7 {
    height: 200px;
    width: 200px;
  }
  .imagem8 {
    height: 200px;
    width: 200px;
  }
  .imagem9 {
    height: 200px;
    width: 200px;
  }
  .imagem10 {
    height: 200px;
    width: 200px;
  }
  .imagem11 {
    height: 200px;
    width: 200px;
  }
  .imagem12 {
    height: 200px;
    width: 200px;
  } */

  footer {
    height: 5%;
    margin: 0%;
    align-items: flex-end;
    justify-content: center;
  }
}
