* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body {
  height: 100vh;
}

#menu {
  background-image: url("imagenslivro/backgroundpeb.png");
  height: 100vh;
  align-items: end;
  background-position: 100%;
  background-repeat: no-repeat;
  text-align: right;
  background-size: cover;
  margin: 0%;
}

.resenha {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  padding: 15px;
  height: max-content;
  background-color: rgba(255, 255, 166, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}
.resenha:hover {
  font-size: 90px;
}

.ilustracoes {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  height: max-content;
  padding: 15px;
  background-color: rgba(255, 180, 191, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}

.ilustracoes:hover {
  font-size: 90px;
}
.autoras {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  padding: 15px;
  background-color: rgba(255, 179, 71, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}

.autoras:hover {
  font-size: 90px;
}

.ondecomprar {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  padding: 15px;
  background-color: rgba(71, 255, 179, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}

.ondecomprar:hover {
  font-size: 90px;
}

.youmightlike {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  padding: 15px;
  background-color: rgba(117, 199, 255, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}

.youmightlike:hover {
  font-size: 90px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(216, 124, 250, 0.5);
  animation-name: menu;
  animation-duration: 3s;
}

.aboutme:hover {
  font-size: 90px;
}

@keyframes menu {
  0% {
    clip-path: inset(0 0 0 100%);
  }

  100% {
    clip-path: inset(0 0 0);
  }
}

body {
  height: 100vh;
}

@media only screen and (min-width: 1280px) {
  body {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  body {
    height: 95%;
    width: 100vh;
  }
}

.footer {
  display: inline-flex;
  justify-content: center;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 2;
}

footer li {
  font-size: 18px;
  list-style: none;
  display: inline-flex;
}

footer img {
  width: 30px;
  height: auto;
}

footer a {
  color: #750000;
  font-size: 18px;
}
