* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body {
  background-image: url("imagenslivro/backgroundpeb.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
}

#menu {
  height: 96%;
  align-content: flex-end;
  justify-content: space-evenly;
  text-align: right;
  background-color: rgba(255, 255, 166, 0.5);
}

.resenha {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  animation-name: menu;
  animation-duration: 1s;
}
.resenha:hover {
  font-size: 90px;
}

.ilustracoes {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  background-color: rgba(255, 180, 191, 0.5);
  animation-name: menu;
  animation-duration: 1s;
}

.ilustracoes:hover {
  font-size: 90px;
}
.autoras {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  background-color: rgba(255, 179, 71, 0.5);
  animation-name: menu;
  animation-duration: 1s;
}

.autoras:hover {
  font-size: 90px;
}

.ondecomprar {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  background-color: rgba(71, 255, 179, 0.5);
  animation-name: menu;
  animation-duration: 1s;
}

.ondecomprar:hover {
  font-size: 90px;
}

.youmightlike {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  background-color: rgba(117, 199, 255, 0.5);
  animation-name: menu;
  animation-duration: 1s;
}

.youmightlike:hover {
  font-size: 90px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  /* height: 16%; */
  background-color: rgba(216, 124, 250, 0.5);
  animation-name: menu;
  animation-duration: 1s;
}

.aboutme:hover {
  font-size: 90px;
}

@keyframes menu {
  0% {
    clip-path: inset(0 0 0 100%);
  }

  100% {
    clip-path: inset(0 0 0);
  }
}

.footer {
  display: inline-flex;
  justify-content: center;
  align-content: flex-end;
  height: 4%;
  width: 100%;
  background-color: white;
  color: black;
  z-index: 1;
}

footer li {
  font-size: 18px;
  list-style: none;
  display: inline-flex;
}

footer img {
  width: 30px;
  height: auto;
}

footer a {
  color: #750000;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  body {
    height: 100vh;
    width: 100%;
    background-image: none;
    justify-content: flex-end;
    margin: 0%;
  }

  .resenha{
    font-size: 50px;
  }
  .ilustracoes {
    font-size: 50px;
  }
  .autoras {
    font-size: 50px;
  }
  .ondecomprar {
    font-size: 50px;
  }
  .youmightlike {
    font-size: 50px;
  }
  .aboutme {
    font-size: 50px;
  }

  footer {
    align-content: flex-end;
    height: 2%;
    margin: 0%;
  }


}

@media only screen and (min-width: 760px) {
  body {
    height: 100vh;
    width: 100%;
    background-image: none;
    justify-content: flex-end;
    margin: 0%;
  }
}
