* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Tinos";
  min-height: 100vh;
}

h1 {
  margin-left: 10px;
  margin-top: 0px;
  font-weight: bolder;
  font-size: 35px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

a {
  text-decoration: none;
}

h2 {
  margin: 10px;
  justify-content: center;
}

header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: #750000;
}
header a:hover {
  color: #f3bb54;
}

div {
  display: flex;
}

.texto-principal {
  display: inline-block;
  justify-content: center;
  width: 70%;
  margin: 5px 10px 10px 20px;
  padding: 40px;
}

.img-resenha {
  margin-top: 10px;
  height: 500px;
  width: 500px;
}
.ilustradora {
  color: black;
  text-decoration: underline;
}
.ilustradora:hover {
  color: #750000;

  text-decoration: underline;
}

.form-floating {
  margin: 10px 20px 20px 70px;
  position: relative;
}

button {
  border-radius: 10%;
  border-style: normal;
  margin-left: 5px;
  padding: 5px;
  background-color: white;
}

aside {
  margin: 10px;
  width: 30%;
  position: relative;
  font-weight: bolder;
  justify-content: right;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  font-size: 15px;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

footer li {
  font-size: 18px;
  list-style: none;
  display: inline-flex;
  padding: 0;
}

footer img {
  width: 30px;
  height: auto;
}

footer a {
  color: #750000;
}

@media only screen and (max-width: 1240px) {
  h1 {
    margin: 20px;
  }

  div {
    flex-wrap: wrap;
  }
  .texto-principal {
    width: 100%;
  }
  aside {
    width: 100%;
  }

  .img-resenha {
    width: 300px;
    height: 300px;
  }

  .form-floating {
    margin: 10px 0px 20px 25px;
  }

  .youtube {
    width: 300px;
    height: 200px;
    margin: 25px;
  }
  .kindle {
    width: 336;
    height: 550;
    margin: 25px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer ul {
    align-items: center;
  }
}
