* {margin: 0px;
padding: 0px;
}

p {
    font-size: 20px;
}
header a {
    font-size: 30px;
    font-weight: bolder;
    display: inline;
    margin-left: 200px;
    color:#750000;
    text-decoration: none;
}
header a:hover{
    color:#f3bb54;
}

h1 {
margin-left: 10px;
margin-top: 0px;

}

h2 {
    margin: 10px;
}
li {
    font-size: 20px;
}
.lista-comprar {
    font-size: 20px;
    margin: 10px;
}
.lista-gostar {
    font-size: 20px;
    margin: 10px;
}
#background-home {
    background-image: url("imagenslivro/backgroundpeb.png");
    background-position:0%,100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0,4;
    z-index: -1;
}

nav {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

}

nav a {
color: black;
position: relative;
text-decoration: none;
font-style: normal;
font-size: 70px;
overflow: hidden;
display: block;
text-align: right;
margin-right: 0,5px;

}

nav ul li {
   padding-block: 15px;
   flex-grow: 1;
   
}


#resenha {
    background-color: rgba(255,255,166,0.5);
    animation-name: menu;
    animation-duration: 3s;

}
#resenha:hover {
    font-size: 90px;
}

#ilustracoes{
    background-color:rgba(255,180,191,0.5);
    animation-name: menu;
    animation-duration: 3s;
    height: 20%;
    
}

#ilustracoes:hover {
    font-size: 90px;
}
#autoras {
    background-color: rgba(255, 179, 71, 0.5);
    animation-name: menu;
    animation-duration: 3s;
    height: 20%;

}

#autoras:hover {
    font-size: 90px;
}

#ondecomprar{
    background-color: rgba(71, 255, 179,0.5);
    animation-name: menu;
    animation-duration: 3s;
    height: 20%;

}

#ondecomprar:hover {
    font-size: 90px;
}

#youmightlike {
    background-color: rgba(117,199,255,0.5);
    animation-name: menu;
    animation-duration: 3s;
    height: 20%;

}

#youmightlike:hover{
    font-size: 90px;

}

#aboutme {
    background-color:rgba(216,124,250,0.5);
    animation-name: menu;
    animation-duration: 3s;
    height: 20%;

}

#aboutme:hover {
    font-size: 90px;
}

@keyframes menu {
 0% {
    clip-path:inset(0 0 0 100%);
 }

100% {
    clip-path: inset(0 0 0);
}
}
  
.texto-principal {
    display:inline-block;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 50px;
    
}

form {
    margin: 50px;
}
aside {
    margin: 10px;

}

.aboutme {
    margin: 10px;
}

.lista1 { background-color: rgba(255,255,166,0.5);
}
.lista2 { background-color:rgba(255,180,191,0.5);
}
.lista3 {  background-color: rgba(255, 179, 71, 0.5);
}
.lista4 {  background-color: rgba(71, 255, 179,0.5);
}
.lista5 { background-color: rgba(117,199,255,0.5);
}
.lista6 {background-color: rgba(216,124,250,0.5);
}
.lista7 {background-color: rgba(255,255,166,0.5);
}
.lista8{background-color:rgba(255,180,191,0.5);}



a {text-decoration: none;
  color: black;
  font-size: 20px;

}

.autoras {
    margin-bottom: 30px;
    margin: 10px;
}
.ilustradora {
    color: black;
    text-decoration: underline;
}
.ilustradora:hover{
 color:#750000;

 text-decoration:underline;
}


.footer {
    background-color: white;
    color: black;
    width: 100%;
    padding: 5px;
    bottom: 0%;
    position:relative;
    display:inline-flex;
    justify-content: center;
    z-index: 1;

}
.link-footer{
    font-size: 20px;
}
footer li {
    font-size: 15px;
    list-style: none;
    display:inline-flex;
}

footer img {
    width: 30px;
    height: auto;
  
}

footer a {
    color: #750000;
}


.imagens-container {
    position:relative;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 500px;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 200px;
    
}

.imagem1:hover {
    height: 600px;
    width: 600px;
}.imagem2:hover {
    height: 600px;
    width: 600px;
}.imagem3:hover {
    height: 600px;
    width: 600px;
}.imagem4:hover {
    height: 600px;
    width: 600px;
}.imagem5:hover {
    height: 600px;
    width: 600px;
}.imagem6:hover {
    height: 600px;
    width: 600px;
}.imagem7:hover {
    height: 600px;
    width: 600px;
}.imagem8:hover {
    height: 600px;
    width: 600px;
}.imagem9:hover {
    height: 600px;
    width: 600px;
}
.imagem10:hover {
    height: 600px;
    width: 600px;
}.imagem11:hover {
    height: 600px;
    width: 600px;
}.imagem12:hover {
    height: 600px;
    width: 600px;
}

.img-onde-comprar {
    margin: 10px;
    height: 600px;
    width: 800px;
}
.img-resenha {
    height: 600px;
    width: 600px;
}
