* {margin: 0;
padding: 0;
}
#background-home {
    background-image: url("imagens livro/imagem\ home\ sem\ titulo.remini-enhanced-fundo\ branco.remini-enhanced\ fundo\ branco.jpg");
    background-position:0%,100%;
    background-repeat: no-repeat;
    background-size: 750px, 750px; 
}
nav a {
color: black;
text-decoration: none;
font-style: normal;
}

header a {
    color: black;
    text-decoration: none;
}